<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Mitt CV</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <h1>Min portfolio</h1>
    <h2>Här finns mitt CV</h2>
    <img src="static/CV-bild.jpg" alt="portrait photo of Erika" height="200px"/>
    <h3>Kort om mig</h3>
    <p>Jag är....</p>
    <h3>Tidigare anställningar</h3>
    <ul>
        <li>Lärare</li>
        <li>Lärarvikarie</li>
        <li>Guide mm.</li>
        <li>Biblioteksassistent</li>
        <li>Studiecoach</li>
    </ul>
    <h3>Utbildning</h3>
    <ul>
        <li>Grundlärarprogrammet</li>
        <li>Scenproduktion</li>
        <li>Orginalproduktion</li>
        <li>Visual Communication</li>
    </ul>
    <h3>Ideella uppdrag</h3>
    <ul>
        <li>Kock/bartender/serveringspersonal</li>
        <li>Styrelseledamot</li>
        <li>Vice Ordförande</li>
    </ul>
    <h3>Kunskaper</h3>
    <ul>
        <li></li>
    </ul>
</body>
</html>